.container {
 background-color: rgb(248, 246, 246);
 border-radius: 10px;
 box-shadow: 8px 10px 8px 0px rgba(136, 0, 136, 0.24);
 font-family: "Alkatra", system-ui;
 margin: 40px auto;
 max-width: 600px;
 min-width: 480px;
 padding: 30px;
}

h1{
 color: darkmagenta;
 font-family: "Kaushan Script", system-ui;
 font-size:38px;
 line-height: 1.5;
 text-align: center;
}

.instructions{
 background-color: azure;
 border: none;
 border-radius: 10px;
 color: rgb(102, 2, 102);
 display: block;
 font-family: "Alkatra", system-ui;
 margin:5px auto;
 padding:10px;
 text-align: center;
 width:80%;
}

.example{
 color: rgb(102, 2, 102);
 font-size: 12px;
 margin:3px auto;
 opacity: 0.8;
 text-align: center;
}

.type_submit{
 display: block;
 margin:0px auto;
 padding:0px 20px 10px 20px;
 text-align: center;
}

.poem_type {
 background-color: azure;
 border-color: rgb(102, 2, 102);
 border-radius: 10px;
 color: magenta;
 font-family: "Alkatra", system-ui;
 text-align: center;
 }

.submit_button{
 background-color: magenta;
 border-color: azure;
 border-radius: 8px;
 color: azure;
 font-family: "Alkatra", system-ui;
 position: absolute;
 }

.goblins_response {
 background-color: azure;
 border-radius: 10px;
 color: rgb(102, 2, 102);
 font-family: "Alkatra", system-ui;
 font-size:20px;
 padding:5px 10px;
}

.goblins_response em{
 color: forestgreen;
}

.author_note {
 font-size: 12px;
 text-align: center;
}

.hidden{
 display: none;
}

.generating {
 animation: blink-animation 1s steps(5,start) infinite;
 text-align: center;
 text-wrap: wrap;
}

@keyframes blink-animation {
 to{
   visibility: hidden;
 }
}